IDMUX_ENV=development
IDMUX_LISTEN_PORT=:9000
IDMUX_UPSTREAM_URL=http://127.0.0.1:8081
IDMUX_COOKIE_NAME=KEYCLOAK_IDENTITY
IDMUX_SESSION_COOKIE_NAME=IDMUX_SESSION
IDMUX_ENCRYPTION_KEY=
IDMUX_ENCRYPTION_KEY_PREVIOUS=
IDMUX_COOKIE_SECURE=false
IDMUX_COOKIE_SAMESITE=lax
IDMUX_SESSION_TTL=12h
IDMUX_MAX_SESSIONS=8
IDMUX_LOGOUT_PATH_PREFIX=/protocol/openid-connect/logout
IDMUX_TRUSTED_ORIGINS=http://127.0.0.1:9000
